 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Chi sono</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p><strong>Sviluppatore web</strong> libero professionista, mi occupo ormai da alcuni anni di sviluppo di applicazioni web facendo uso del framerwork <strong>Symfony</strong>, realizzo inoltre app ibride con <strong>API Rest</strong> e il framework <strong>Apache Cordova</strong></p>
                </div>
                <div class="col-lg-4">
                    <p>Sono anche un <strong>amministratore di sistema Linux</strong>, mi occupo della configurazione e della sicurezza dei server aziendali. In particolare ho esperienza nella configurazione di servizi web su stack <strong>LAMP (Linux - Apache - Mysql - PHP)</strong>.</p>
                </div>
            </div>
        </div>
    </section>
