<nav class="pagination" role="navigation">
  {% if paginator.previous_page %}
    <div class="pagination-center ">
    {% if paginator.previous_page == 1 %}
      <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/#blog" title="Previous Page">← Precedente</a>
    {% else %}
      <a rel="prev" class="posts newer btn small" href="{{ site.baseurl }}/page{{ paginator.previous_page }}/">← Precedente</a>
    {% endif %}
      {% else %}
      <div class="pagination-center float-right">
  {% endif %}

  <span class="pagination__page-number">Pagina {{ paginator.page}} di {{ paginator.total_pages}}</span>

  {% if paginator.next_page %}
    <a rel="next" class="posts older btn small " href="{{ site.baseurl }}/page{{ paginator.next_page }}/">Successiva →</a>
  {% endif %}
  </div>
</nav>
